[submodule "photoapp-discovery-service"]
	path = photoapp-discovery-service
	url = https://github.com/asood15/photoapp-discovery-service
[submodule "photoapp-zuul-api-gateway"]
	path = photoapp-zuul-api-gateway
	url = https://github.com/asood15/photoapp-zuul-api-gateway
[submodule "photoapp-user-service"]
	path = photoapp-user-service
	url = https://github.com/asood15/photoapp-user-service
[submodule "photoapp-account-management-service"]
	path = photoapp-account-management-service
	url = https://github.com/asood15/photoapp-account-management-service
